<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Програма</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/">Головна</a></li>
      <li><a routerLink="/setup">Налаштування</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>





